{% extends 'base.html' %}
{% block body %}



<form action="/update/updaterecord/{{doctor.id}}" method="post">
{% csrf_token %}
<label for="first_name">First Name</label><br>
<input type="text" id="first_name" name="first_name" value="{{ first_name }}"><br>
<label for="last_name">Last Name</label><br>
<input type="text" id="last_name" name = "last_name" value="{{ last_name }}"><br>
<label for="salary">Salary</label><br>
<input type="number" id="salary" name="salary" value="{{ salary }}"><br>
<label for="dept">Department</label><br>
<input type="text" id="dept" name="dept" value="{{ dept }}"><br>
<label for="role">Role</label><br>
<input type="text" id="role" name="role" value="{{ role }}"><br>
<label for="phone">Phone Number</label><br>
<input type="number" id="phone" name="phone" value="{{ phone }}"><br>
<label for="loacation">Location</label><br>
<input type="text" id="location" name="location" value="{{ location }}"><br>
<hr>
<button type="submit" class="btn btn-dark">Submit</button>
</form>
{% endblock body %}   

